In [0]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np
import plotly.express as px

In [0]:
from google.colab import files
uploaded = files.upload()

Saving Raw.csv to Raw.csv

In [0]:
import io
df = pd.read_csv(io.BytesIO(uploaded['Raw.csv']), sep=';')

In [0]:
df.head()

   age        job  marital  ... euribor3m nr.employed   y
0   56  housemaid  married  ...     4.857      5191.0  no
1   57   services  married  ...     4.857      5191.0  no
2   37   services  married  ...     4.857      5191.0  no
3   40     admin.  married  ...     4.857      5191.0  no
4   56   services  married  ...     4.857      5191.0  no

[5 rows x 19 columns]

**Data Cleaning**

In [0]:
df.isna().sum()

In [0]:
df.job.value_counts()

In [0]:
df.age.describe()

count    41188.00000
mean        40.02406
std         10.42125
min         17.00000
25%         32.00000
50%         38.00000
75%         47.00000
max         98.00000
Name: age, dtype: float64

In [0]:
df = df.drop(labels=(['cons.conf.idx', 'cons.price.idx']), axis=1)

In [0]:
import pickle

In [0]:
from google.colab import files
df.to_csv('cleanup.csv') 
files.download('cleanup.csv')